
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 50px;
 
    gap: 20px;
  }
  
  .speed-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px;
    color: aliceblue;
    text-shadow: 5cm;
  }
  .button{
  display: inline-block;
  background-color: orange; 
  color: black; 
  align-items: center;
  justify-content: center; 
  padding: 10px 10px; 
  margin: 10px; 
  border: 2px solid orange; 
  width: 110px;
  height: 20px;
  border-radius: 20px; 
  text-decoration: none; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.button-control{
  display: left;
  background-color: orange; 
  color: black; 
  align-items: center; 
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px; 
  margin: 30px; 
  border: 5px solid white; 
  width: 350px;
  cursor: pointer;
  height: 5px;
  border-radius: 20px; 
  text-decoration: none; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.button-choose{
  display: left;
  background-color: rgb(235, 117, 48); 
  color: black; 
  align-items: center; 
  flex-direction: column;
  justify-content: center; 
  padding: 30px 10px; 
  margin: 30px 20px 50px ; 
  border: 5px solid white; 
  width: 200px;
  cursor: pointer;
  height: 5px;
  border-radius: 20px; 
  text-decoration: none; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}

.control-panel-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


.button-ileri{
  display: center;
  background-color: rgb(243, 198, 172); 
  color: black; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: center; 
  padding: 10px 10px 10px 10px; 
  border: 2px solid white; 
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
}

.button-geri{
  display: center;
  background-color: rgb(243, 198, 172); 
  color: black; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: center; 
  padding: 10px 10px 10px 10px; 
  border: 2px solid white; 
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px;
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  margin: 0 5px;
}
.button-sağ{
  display: center;
  background-color: rgb(243, 198, 172); 
  color: black; 
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center; 
  padding: 10px 10px 10px 10px; 
  border: 2px solid white; 
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  margin-right: auto; 
  margin: 0 5px;
}
.button-sol{
  display: center;
  background-color: rgb(243, 198, 172);
  color: black; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: center; 
  padding: 10px 10px 10px 10px; 
  border: 2px solid white; 
  width: 50px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  margin-left: auto;
  margin: 0 5px;
}
.button-dur{
  display: center;
  background-color: rgb(243, 198, 172); 
  color: black; 
  align-items: center; 
  flex-direction: row-reverse;
  justify-content: center; 
  padding: 10px 10px 10px 10px;
  border: 2px solid white;
  width: 80px;
  cursor: pointer;
  height: 50px;
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 20px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
  margin: 0 5px;
  
}